@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: #35374B;
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
#page-head{
    margin: 0px;
    padding-left: 10pt;
    font-family: Poppins, sans-serif;
    background-color: #FFF6E9;
    color: #331D2C;
    font-size: 40pt;
}
#first{
    
    background-color: #7FC7D9;
    font-size: 26pt;
    padding-left: 10px;
}
#first-blurb{
    margin-top: -35px;
    background-color: #DCF2F1;
    padding-left: 40px;
    font-size: 13pt;
}
